.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #080808;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.footer-links {
  margin-bottom: 8px;
}
.footer-link {
  color: #080808;
  text-decoration: none;
  margin: 0 8px;
  font-size: 1rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-separator {
  color: #080808;
}
